.hero {
  width: 100%;
  height: calc(100vh - 206px);
  background: url('../../../images/main-page/hero-background.png'), url('../../../images/main-page/hero-image.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heroContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 260px;
}

.title {
  margin: 8px 0 23px;
  max-width: 530px;
}