.button {
  display: flex;
  align-items: center;
  padding: 28px 39px;
  color: var(--dark-green);
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  transition: background-color .2s;
  cursor: pointer;
}

.arrowIcon {
  position: relative;
  left: 10px;
  transition: .2s;
}

.button:hover .arrowIcon {
  left: 15px;
} 

.yellowBtn {
  background-color: var(--yellow);
}

.yellowBtn:hover {
  padding: 26px 37px;
  background-color: #fff;
  border: 2px solid var(--yellow);
}

.greenBtn {
  color: #fff;
  background-color: var(--dark-green);
}

.greenBtn:hover {
  padding: 26px 37px;
  color: var(--dark-green);
  background-color: #fff;
  border: 2px solid var(--dark-green);
}